<!DOCTYPE html>

<html>
  <head>
      <title>Plagiarism Checker</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    </head>

    <body>

      <h2> Plagiarism Checker </h2>
    		<form action="/result" method="POST">
        	<textarea name="text" rows="10" cols="30" placeholder="Enter the text here..."></textarea><br>
          <br><button type="submit"><b>Generate Report</b></button>
        	</form>

          <br><br><h3>{{ out }}</h3>
              <br><p>{{ out2 }}</p>

        <!-- Footer -->
        <div class='footer'>
            <div class="contact">
                <a target="_blank" href="https://github.com/supria68/Data-Science-Projects"><i class="fa fa-github" style="font-size:24px"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/supriyasudarshan"><i class="fab fa-linkedin" style="font-size:24px"></i></a>
            </div>
            <p class='footer-description'> A Data Science Portlio Project by Supriya Sudarshan.</p>
        </div>

    </body>
</html>
